        <!-- HEADER -->

        <nav class=" header col-12 navbar navbar-light bg-light">
            <a class="navbar" href="/">
            <img src="/images/train.png" width="50" height="50" class="logo" alt="">
           <h4>Ticketac</h4>
            </a>
            <div class="text-end">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/users/logout">Deconnexion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="inactive-nav">My last trips</span></a>
                </li>
            </ul>
        </nav>