<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container-fluid">

        <!-- HEADER -->
        <div class="row">

            <nav class=" header col-12 navbar navbar-light bg-light">
                <a class="navbar" href="/">
                <img src="/images/train.png" width="50" height="50" class="logo" alt="">
               <h4>Ticketac</h4>
                </a>
                <div class="text-end">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Connection</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><span class="inactive-nav">My last trips</span></a>
                    </li>
                </ul>
                </div>
            </nav>

        </div>  
<div class="row text-center">
<div class="col-12">
        <h2>One way ticket:</h2>
</div>
        <div class="input-group mb-3 col-12 justify-content-center">
            <form class="d-flex" action="/journey" method="post">
            <input type="text" class="form-control m-1" placeholder="From: Paris, Marseille..." name="departureCityFromFront" aria-label="DepartureCity" aria-describedby="button-addon2">
            <input type="text" class="form-control m-1" placeholder="To: Lille, Nantes... " name="arrivalCityFromFront" aria-label="ArrivalCity" aria-describedby="button-addon2">
            <input type="date" class="form-control m-1" aria-label="ArrivalDate" name="dateFromFront" aria-describedby="button-addon2">
            <button class="btn btn-danger" type="submit" id="button-addon2">Go</button>
              </form>
            

    </div>

</div>
<div class="row d-flex text-center">
    <div class="col-12 justify-content-center"><img id="img-homepage" src="images/landmark.png"></div>
</div>

        <p class="text-center">© 2022 LaCapsule</p>
  
</div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>